<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="w3-table w3-striped w3-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <tr class="w3-hover-orange">
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user, class:"w3-button w3-yellow " %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class:"w3-button w3-yellow " %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, 
        class:"w3-button w3-yellow " %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<ul>
<%= link_to 'New User', new_user_path, class:"w3-button w3-block w3-aqua<i>Italic</i>w3-padding-large w3-left-align w3-hover-orange" %>
<%= link_to 'New Micropost', new_micropost_path,class:"w3-button w3-yellow " %>
<%= link_to 'About', my_pages_about_path,class:"w3-button w3-yellow " %>
<%= link_to 'Help', my_pages_help_path,class:"w3-button w3-yellow " %>
<%= link_to 'Home', my_pages_home_path,class:"w3-button w3-yellow " %>
</ul>